<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baihudie.desktop.mapper.RabbleMapper">

    <resultMap type="com.baihudie.desktop.model.Rabble"
               id="RabbleMap">

        <result column="id" property="id"/>
        <result column="argot_id" property="argotId"/>
        <result column="bandit_code" property="banditCode"/>
        <result column="good_name" property="goodName"/>
        <result column="bad_name" property="badName"/>
        <result column="local_token" property="localToken"/>
        <result column="remote_token" property="remoteToken"/>
        <result column="property1" property="property1"/>
        <result column="property2" property="property2"/>
        <result column="property3" property="property3"/>
        <result column="property4" property="property4"/>
        <result column="property5" property="property5"/>
        <result column="property6" property="property6"/>
        <result column="property7" property="property7"/>
        <result column="property8" property="property8"/>
        <result column="property9" property="property9"/>
        <result column="state" property="state"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>

    </resultMap>


    <sql id="baseSql">
        id,
        argot_id,
        bandit_code,
        good_name,
        bad_name,
        local_token,
        remote_token,
        property1,
        property2,
        property3,
        property4,
        property5,
        property6,
        property7,
        property8,
        property9,
        state,
        remark,
        create_time,
        update_time
    </sql>


    <insert id="insertRabble" parameterType="com.baihudie.desktop.model.Rabble">
        insert into rabble (
        id,
        argot_id,
        bandit_code,
        good_name,
        bad_name,
        local_token,
        remote_token,
        property1,
        property2,
        property3,
        property4,
        property5,
        property6,
        property7,
        property8,
        property9,
        state,
        remark,
        create_time,
        update_time
        ) values (
        #{id},
        #{argotId},
        #{banditCode},
        #{goodName},
        #{badName},
        #{localToken},
        #{remoteToken},
        #{property1},
        #{property2},
        #{property3},
        #{property4},
        #{property5},
        #{property6},
        #{property7},
        #{property8},
        #{property9},
        #{state},
        #{remark},
        #{createTime},
        #{updateTime}
        )
    </insert>
    <select id="getRabbleById" resultType="com.baihudie.desktop.model.Rabble">
        select <include refid="baseSql"/>
        from rabble
        where id = #{id}
    </select>

</mapper>